link(rel="stylesheet", href="/css/admin/partial.css")

footer
  .footer-container
    .footer-left
      p &copy; 2024 Your Company. All rights reserved.
    .footer-center
      ul
        li
          a(href="#") Privacy Policy
        li
          a(href="#") Terms of Service
        li
          a(href="#") Contact Us
    .footer-right
      .social-icons
        a(href="https://facebook.com" target="_blank")
          i.fa-brands.fa-facebook
        a(href="https://twitter.com" target="_blank")
          i.fa-brands.fa-twitter
        a(href="https://instagram.com" target="_blank")
          i.fa-brands.fa-instagram
        a(href="https://linkedin.com" target="_blank")
          i.fa-brands.fa-linkedin
