link(rel="stylesheet", href="/css/admin/partial.css")
header
  .header
    //- .box.inbutBox
    //-   input(type="text", class="search-box", placeholder="Search")
    //-   i(class="search fa-light fa-magnifying-glass")
    .box.user
        a(href="" style="margin-left: 400px") 
            i.fa-duotone.fa-light.fa-user
        //- | Hi you
