link(rel="stylesheet", href="/css/admin/partial.css")

.navbar-vertical.d-flex.flex-column.align-items-start
  .navbar-header.d-flex.align-items-center
    img(src="/image/logoBook.png", alt="ảnh lỗi", class="logo")
    h3 Book Store
    //- i(style="color:white; font-size: 20px; margin-bottom: 10px; margin-left: 20px").fa-solid.fa-chart-simple-horizontal
  a.nav-link.ms-3(href="http://localhost:3000/admin/dashboard")
    .icon-container
      i.fa-light.fa-house
    .text-container
      span Trang chủ
  a.nav-link.ms-3(href="http://localhost:3000/admin/employee")
    .icon-container
      i.fa-light.fa-user-group
    .text-container
      span Nhân viên
  a.nav-link.ms-3(href="http://localhost:3000/admin/customer")
    .icon-container
      i.fa-light.fa-users
    .text-container
      span Khách hàng
  a.nav-link.ms-3(href="http://localhost:3000/admin/product")
    .icon-container
      i.fa-light.fa-box-open-full
    .text-container
      span Sản phẩm
  a.nav-link.ms-3(href="http://localhost:3000/admin/bill")
    .icon-container
      i.fa-light.fa-file-invoice-dollar
    .text-container
      span Hóa đơn
  a.nav-link.ms-3(href="http://localhost:3000/login")
    .icon-container
      i.fa-light.fa-left-to-bracket
    .text-container
      span Đăng xuất
