extends defaults/defaultAuth

block main
  #loginContainer.form-container.active
    h2 Sign Up
    form#loginForm
      .form-group
        label(for="cusID") Customer ID
        input(type="text", id="cusID", name="cusID", value="CUS012", required)
      .form-group
        label(for="fullName") Full Name
        input(type="text", id="fullName", name="FullName", value="Khánh Nguyễn", required)
      .form-group
        label(for="email") Email
        input(type="email", id="email", name="Email", value="khanhnguyen@example.com", required)
      .form-group
        label(for="phoneNumber") Phone Number
        input(type="text", id="phoneNumber", name="PhoneNumber", value="0912345678", required)
      .form-group
        label(for="ward") Ward
        input(type="text", id="ward", name="Ward", value="Phường Linh Trung", required)
      .form-group
        label(for="district") District
        input(type="text", id="district", name="District", value="Quận Thủ Đức", required)
      .form-group
        label(for="city") City
        input(type="text", id="city", name="City", value="TP.HCM", required)
      .form-group
        label(for="date") Date of Birth
        input(type="date", id="date", name="Date", value="1994-01-25", required)
      .form-group
        label(for="loginPassword") Password
        input(type="password", id="loginPassword", name="Password", required)
      button(type="submit") Sign Up
    .switch-container
      p.switch(style="margin-right: 10px") You already have an account?
      a(href="http://localhost:3000/login") Login
