body {
  font-family: Arial, sans-serif;
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.container {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {

  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Đặt label và input theo chiều dọc */
  align-items: flex-start;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #444;
}

.form-group input, 
.form-group select {
  width: 100%;
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline-color: rgb(84, 169, 226); 
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

.switch-container {
  display: flex; /* Đặt các phần tử trên cùng một hàng */
  justify-content: center; /* Căn giữa nội dung */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-top: 15px;
  font-size: 14px;
}

.switch {
  margin-right: 5px; /* Tạo khoảng cách giữa các phần tử */
  color: #333;
}

.switchload {
  color: #651ed8;
  font-weight: bold;
  cursor: pointer;
}

.switchload:hover {
  text-decoration: underline;
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
}
